---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'
import { Image } from 'astro:assets'

import car from '../../public/static/car.png'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />
  <section class="grid w-full grid-cols-1 gap-2 sm:grid-cols-3">
    <div class="space-y-4 sm:col-span-2">
      <div class="flex flex-col space-y-1.5">
        <h3 class="font-regular text-3xl leading-none">Ho, I'm</h3>

        <h3 class="text-5xl leading-none font-semibold">Johnny The Man</h3>
      </div>
      <div class="">
        <p class="text-foreground/80 text-md">
          I'm an undergraduated systems engineer student based in Argentina.
        </p>
        <p class="text-foreground/80 text-md mb-2">
          Here you'll find posts and notes about software topics!
        </p>
      </div>
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'default' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>

    <div class="flex items-center justify-center sm:col-span-1 sm:justify-end">
      <Image src={car} alt="Logo" class="size-56" />
    </div>
  </section>
  <!-- <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Latest posts</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        See all posts <span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section> -->
</Layout>
